# Python
__pycache__/
*.pyc
*.pyo
.ipynb_checkpoints/

# Environment — NEVER upload to GitHub
.env

# Raw data — too large for GitHub
data/raw/

# Virtual environment
venv/
.venv/

# VS Code
.vscode/

# OS files
.DS_Store
Thumbs.db